body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.content {
  float: left;
  padding: 0px 0px 40px 0px;
  width: 100%;
}

footer {
  font-size: 85%;
}

label {
  display: block;
  margin: 0px 0px 8px 0px;
}

input {
  margin: 0px 0px 8px 0px;
}

.field_with_errors label {
  color: #F33;
}

.field_with_errors input {
  border: 1px solid #F33;
}

ul {
  list-style-type: none;
  padding: 0px;
}

li {
  margin: 0px 0px 8px 0px;
  padding: 0px;
}

.handle {
  font-weight: bold;
}

