<h1>Index</h1>
<p>All users here</p>
<ul>
<% @users.each do |user| %>
<li>
  <%= link_to name(user), user_path(user) %><%= " - #{user.email}" %>
  <% if current_user.admin? %>
    | <%= link_to "Delete", user, :method => :delete, :confirm => "You sure?",
                                  :title => "Delete #{name(user)}" %> 
  <% end %>
</li>
<% end %>
</ul>
